extends layout

block content
  .centered-box
    h1 Profile
    p Hey, #{user.firstName || 'User'}!

    p
      strong Email:
      |  #{user.email || 'N/A'}
    p
      strong First Name:
      |  #{user.firstName || 'N/A'}
    p
      strong Last Name:
      |  #{user.lastName || 'N/A'}
    p
      strong Title:
      |  #{user.title || 'N/A'}
    p
      strong Display Name:
      |  #{user.displayName || 'N/A'}

    // Links section inside the box
    div.link-row
      a(href="/users") View All Users
      if user && user.isAdmin
        a(href="/admin/env", target="_blank") Edit .env File
      a(href="/logout") Logout

