extends layout

block content
  .container
    h1 Users List
    a.button-link(href="/profile") Profile
    table
      thead
        tr
          th Email
          th First Name
          th Last Name
          th Title
          th Display Name
          th Auth Type
          th Admin
      tbody
        each user, i in users
          tr
            td #{user.email}
            td #{user.firstName || 'N/A'}
            td #{user.lastName || 'N/A'}
            td #{user.title || 'N/A'}
            td #{user.displayName || 'N/A'}
            td #{user.authType || 'local'}
            td
              - var encodedEmail = encodeURIComponent(user.email)
              form(method="POST", action='/users/' + encodedEmail + '/admin-toggle')
                input(type="hidden", name="email", value=user.email)
                input(type="checkbox", name="isAdmin", checked=user.isAdmin)
                button(type="submit") Save

